# Ignore raw datasets
/data/train.csv
/data/test.csv

# Allow reference files
!/data/sample_submission.csv
!/data/data_description.txt

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv
venv/

# OS files
.DS_Store
Thumbs.db
